.footer {
    background: var(--background-dark);
    padding: 119px 0;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__menu-item {
    list-style-type: none;
}

.footer__menu-title {
    margin: 0 0 18px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light);
}

.footer__menu-link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--basic-light);
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: 0.65;
}

.footer__menu {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__logo {
        width: 100%;
        margin-bottom: 24px;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__menu {
        width: 50%;
    }

    .footer__menu-title {
        margin-bottom: 8px;
    }
}