/* Header */

.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__logo {

}

.header__logo-link {

}

.header__logo-pic {

}

.header__nav {

}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
    list-style-type: none;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light);
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}