.intro {
    height: 100vh;
    background: url('../../images/jpg/intro-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--basic-light);
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle {
    margin: 0;
    color: var(--basic-light);
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

@media screen and (max-width: 767px) {
    .intro {
        height: 100vh;
        padding-top: 100px;
        padding-bottom: 223px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 22px;
    }

    .intro__subtitle {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}