.intro {
    height: 100vh;
    background: url('../../images/jpg/intro-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--basic-light);
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle {
    color: var(--basic-light);
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}