.places {
    margin-bottom: 130px;
}

.places__title {
    margin: 0;
    margin-right: 15px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__view-all {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    display: inline-block;
    padding-right: 59px;
    background: url(../../images/svg/arrow-right-icon.svg) no-repeat 95% center;
    transition: .2s all;
}

.places__view-all:hover, .places__view-all:focus {
    opacity: 0.65;
    background: url(../../images/svg/arrow-right-icon.svg) no-repeat right center;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places__card {
    overflow: hidden;
    margin: 0;
    position: relative;
    
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card_size_lg {
    grid-column: span 3;
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card-title {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: var(--basic-light);
    z-index: 3;
    position: absolute;
    bottom: 27px;
    left: 29px;
}

.places__card-pic {
    width: 100%;
    
    object-fit: cover;
    transition: .15s all;
}

.places__card-pic_size_lg {
    height: 354px;
}

.places__card-pic_size_sm {
    height: 283px;
} 

.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

@media screen and (max-width: 960px) {
    .places__card_size_lg {
        grid-column: span 6;
    }
    
    .places__card_size_sm {
        grid-column: span 6;
    } 
}

@media screen and (max-width: 767px) {
    .places__view-all {
        margin-top: 25px;
    }

    .places__card-pic_size_lg, .places__card-pic_size_sm {
        height: 230px;
    }

    .places__card-title {
        left: 15px;
    }

    .places {
        margin-bottom: 70px;
    }
}