.search-form__wrap {
    margin: 0;
    padding: 0;
    border: none;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    background-color: transparent;
    background: url(../../images/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light);
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light);
}

.search-form__submit {
    border: 0;
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: var(--basic-light);
    background: #1B7DFF;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: var(--background-dark);
}