.top {
    margin-bottom: 86px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
}

.top__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top__title {
    margin-bottom: 54px;
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-thumb {
    width: 100%;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light);
    margin: 0 auto 0 0;

}

.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, .6);
    padding: 15px 25px;
    justify-content: flex-end;
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light);
    padding-right: 20px;
    background: url(../../images/svg/top-like.svg) no-repeat right;
    margin-right: 14px;
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light);
    padding-right: 23px;
    background: url(../../images/svg/top-comment.svg) no-repeat right;
}

.top__card-desc {
    margin: 0;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
}

.top__card-more {
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-light);
    background: #006DFE;
    padding: 12px 19px;
    text-decoration: none;
    max-width: 118px;
    margin-top: auto;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
    background: var(--background-dark);
}

@media screen and (max-width: 960px) {
    .top__cards {
        column-gap: 25px;
        row-gap: 55px;
    }

    .top__card {
        grid-column: span 3;
    }

    .top__card-pic {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .top__card {
        grid-column: span 6;
    }

    .top__card-pic {
        margin-bottom: 15px;
    }

    .top__card-desc {
        margin-bottom: 15px;
    }

    .top {
        margin-bottom: 70px;
    }
}